 <div data-target-date="{{ target_date }}" class="custom-countdownSnippet__time-wrapper">
                <div class="custom-countdown__card custom-border-radius">
                    <span class="custom-countdown__time " id="days">00</span>
                    <span class="h4">Days</span>
                </div>
                <span class=" custom-timer__colon bold">:</span>
                <div class="custom-countdown__card custom-border-radius">
                    <span class="custom-countdown__time" id="hours">00</span>
                    <span class="h4">Hours</span>
                </div>
                <span class="custom-timer__colon bold">:</span>
                <div class="custom-countdown__card custom-border-radius">
                    <span class="custom-countdown__time" id="minutes">00</span>
                    <span class="h4">Mins</span>
                </div>
                <span class="custom-timer__colon bold">:</span>
                <div class="custom-countdown__card custom-border-radius">
                    <span class=" custom-countdown__time" id="seconds">00</span>
                    <span class="h4">Sec</span>
                </div>
</div>    