
  <link href="{{ 'parallax.css' | asset_url }}" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js" defer></script>
  <script src="{{ 'parallax.image.js' | asset_url }}" defer></script>


<div class="container wrapper">
  <div class="section_1"></div>
  <div class="section_2">
    <div class="flex">
      <div class="content">
     {{ section.settings.section_heading }}
      </div>
      <div class="images">
        {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            {% if block.settings.image != blank %}
              <div class="parallax-item">
                <div class="splide__image-wrapper">
                  {% render "responsive-picture", desktopImage: block.settings.image, class: 'media media--portrait custom-border-radius-sm' %}
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% for i in (1..3) %}
            <div class="parallax-item">
              <div class="media media--portrait">
                {{ 'collection-' | append: i | placeholder_svg_tag }}
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "parallax-image",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "section_heading",
      "label": "Section heading",
      "default": "Our Customers Review"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Parallax Image"
    }
  ]
}
{% endschema %}


