.custom-image-grid__wrapper {
  position: relative;
}

.custom-image-grid__image-container{
  background: none;
}
.custom-image-grid__image-container img {
  transition: transform 0.3s ease-in-out;
}
.custom-image-grid__wrapper:hover {
  .custom-image-grid__image-container img {
    transform: scale(1.1);
  }
}

.custom-image-grid__text {
  flex-direction: column;
  display: flex;
  padding: 30px;
  position: absolute;
 width: 100%;
}
.custom-image-grid__heading {
  margin-bottom: 20px;
}
