.section-description {
  width: 40%;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
}
.answer-text {
  padding-left: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  max-width: 98%;
}
.custom-question__wrapper{
  padding: 60px 0px;
}
.custom-question__content {
  position: relative;
  z-index: 0;
}
.custom-question__header{
    padding-bottom: 30px;
}
.question-text {
  display: inline-block;
  max-width: calc(100% - 6rem);
  min-height: 1.6rem;
  margin: 0;
  word-break: break-word;
  font-size: 22px;
  font-weight: 600;
}
.accordion summary:after {
  content: "+";
  font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;
}

.accordion summary.active {
  content: "-";
   font-size: 25px;
  position: absolute;
  right: 0;
  top: 0;
}

.custom-question__content .accordion summary {
  align-items: center;
  padding: 1.5rem 0;
}


@media screen and (max-width: 750px) {

  .answer-text {
    padding-left: 15px;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    max-width: 98%;
  }
   .question-text {
    display: inline-block;
    max-width: calc(100% - 6rem);
    margin: 0;
    word-break: break-word;
    font-size: 15px;
    font-weight: 600;
  }
  .section-description{
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    width: 98%;
  }
}
