.faq-section__block-count{
    color: #000000;
}
.faq-section__title p{
    margin:0px 0px 8px;
}
.faq-section__description{
      max-width: 500px;
    line-height: normal;
    margin-bottom: 30px;
}
.faq-section__block{
    border-bottom:1px solid #e7e7ec;
}
.faq-section__block-count-and-question{
    display:flex;
    align-items:center;
}
.faq-section__block-question-and-symbol{
    height: 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition: all 0.5s ease;
}

.faq-section__block-answer{  
    margin:0px;
    font-size: 15px;
    font-weight: 400;
    line-height: 28.8px;
    padding-left :10px;
    padding-right :10px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
    
}
.faq-section__block-container div:last-child{
    border-bottom-width:0px;
}
.faq-section__block-question{
      display: inline-block;
    min-height: 2.6rem;
    margin: 0;
    word-break: break-word;
    font-size: 20px;
    font-weight: 600;
}