.custom-image-grid__wrapper {
  position: relative;
}
.custom-image-grid__image-container img {
  transition: transform 0.3s ease-in-out;
}
.custom-image-grid__wrapper:hover {
  .custom-image-grid__image-container img {
    transform: scale(1.1);
  }
}
.custom-image-grid__text {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.custom-image-grid__heading {
  margin-bottom: 20px;
}
