.custom-collection-list__header {
  display: flex;
  justify-content: space-between;
}
.splide__image-wrapper {
  margin-top: 15%;
}
.custom-image-grid__button a {
  position: relative;
}

.custom-image-grid__button a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(to right, transparent 50%, #e8e6e6 50%);
  background-size: 200% 100%;
  transition: background-position 0.3s ease-in-out;
}

.custom-image-grid__button a:hover::before {
  background-position: -100% 0;
}
.splide__image-wrapper {
  position: relative;
}
.splide__text-wrapper {
  position: absolute;
  display: flex;
  gap: 15px;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.custom-collection-list__button {
  color: white;
  border: 1px solid white;
}
.custom-collection-list__card:hover .splide__image-wrapper img {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.custom-collection-list__button:after {
  background-color: transparent;
}

.custom-collection-list__button:hover {
  color: #d03c3f;
}
.custom-collection-list__button:hover:before {
  width: 100%;
}


@media only screen and (max-width: 750px) {
  .custom-collection-list__title{
    font-size: 24px;
    letter-spacing: 0.3px;
    line-height: 31.2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
