.product-card{
  position: relative;
}

.product-card__link{
  text-decoration: none;
  font-weight: 500;
}

.product-card__link:hover{
  color: #d03c3f;
}

.product-card__vendor,.product-card__compare-price{
  font-weight: 400;
  opacity: 0.7;
}

.product-card__quick-view{
  position: absolute;
  top: 0;
  right: 0;
  padding:15px;
}

.product-card__quick-view-button{
  padding: 5px 10px;
  font-size: 14px;
}


.product-card__left-tags{
  position: absolute;
  top: 0;
  left: 0;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: baseline;
}

.product-card__discount,.product-card__badge{
  padding: 2px 10px;
  background-color: #dd1d1d;
  color: #fff;
  font-size: 11px;
  border-radius: 20px;
}

.product-card__badge{
  background-color: #22570e;
}


.product-card__varient-options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  align-items: center;
  column-gap: 5px;
}

.product-card__color-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.product-card__quick-view-button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 8px;
  border-radius: 10rem;
  color: #fff;
  text-transform: capitalize;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-size: 14px;
  text-decoration: none;
}
.product-card__quick-view-button:after{
   content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: #000;
	 border-radius: 10rem;
	 z-index: -2;
}
.product-card__quick-view-button:before {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 width: 0%;
	 height: 100%;
	 background-color: #d03c3f;
	 transition: all 0.3s ease;
	 border-radius: 10rem;
	 z-index: -1;
}
 .product-card__quick-view-button:hover {
	 color: #fff;
}
 .product-card__quick-view-button:hover:before {
	 width: 100%;
}
.product-card__content {
  text-align: center;
  display: flex;
  gap: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.variant-max-count{
color: green;
}
.variant-min-count{
  color: #d03c3f;
}
ul.product-card__options {
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

ul.product-card__option {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 5px;
}
.product-card-varients{
  height: 40px;
}
span.product-card__swatch {
    min-height: 5px;
    min-width: 5px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 3px solid white;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 17px;
    margin: 2px;
    line-height: 1;
    }

   input[type="radio"]:checked + .product-card__swatch {
  box-shadow: 0 0 0 1px rgba(208, 60, 63, 1);
}

.product-card__option input[type="radio"] {
    display: none;
}

.product-card__colorswatch {
    border-radius: 50%;
}
.image-hover-swap .image-secondary-hidden {
  display: none;
}

.image-hover-swap:hover .image-secondary-hidden {
  display: block;
}

.image-hover-swap:hover .image-featured-hidden {
  display: none;
}
.media--transparent {
  background-color: transparent;
}

.media.media--hover-effect > img + img {
  opacity: 0;
}

.product-card__secondary-image{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease;
}

.product-card__image{
  position: relative;
}

.product-card__image:hover .product-card__secondary-image{
  opacity: 1;
}