
  .running-text__content {
    display: flex;
    overflow: hidden;
    width: 100%;
  }

  .running-text__content .running-text__content-wrapper {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    animation: defilement-rtl 10s infinite linear;
    cursor: pointer;
  }

  .running-text__content:hover .running-text__content-wrapper {
    animation-play-state: paused;
  }

  @keyframes defilement-rtl {
    0% {
      transform: translate(0);
    }
    100% {
      transform: translate(-100%);
    }
  }

